body {
    /* Ruta de la imagen o enlace web */
    background-image: url('../img/FondoPapel.jpg');
    
    /* Evita que la imagen se repita */
    background-repeat: no-repeat;
    
    /* Ajusta la imagen para que cubra toda la pantalla */
    background-size: cover;
    
    /* Centra la imagen en la pantalla */
    background-position: center;
    
    /* Mantiene la imagen fija al deslizar la página */
    background-attachment: fixed;
    
    /* Elimina los márgenes predeterminados del navegador */
    margin: 0;
    
    /* Asegura que el alto ocupe toda la ventana */
    height: 100vh;

    font-family: 'Montserrat', sans-serif;
}


header{
    background-color: var(--verde-esmeralda);
}

footer {
    background-color: var(--verde-esmeralda);
}

.logo-prov{
    color: black;
    margin-right: 40px;
}


h1{
    font-family: 'Playfair Display', serif;
    color: var(--marron-claro);
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: var(--marron-claro);
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: var(--gris-oscuro);
}
h4{
    font-family: 'Montserrat', sans-serif;
    color: var(--gris-oscuro);
}
h5{
    font-family: 'Montserrat', sans-serif;
    color: var(--gris-medio);
}
h6{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}


.card-img-top{
    height: 300px;
    object-fit: cover;
}

.bg-blanco{
    background-color: var(--blanco-suave);
}
:root{
    --blanco-suave: #F7F7F7;
    --verde-esmeralda:  #2E8B57;
    --amarillo-mostaza: #FFD700;
    --marron-claro: #8B4513;
    --gris-oscuro: #333333;
    --gris-medio: #666666;
}

